<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .header {
      background-color: #f8f9fa;
      padding: 10px;
      text-align: center;
    }

    .message {
      padding: 20px;
    }

    .footer {
      text-align: center;
      padding: 10px;
      color: #666;
      font-size: 12px;
    }
  </style>
  <title>Request A Quote</title>
</head>

<body>
  <div class="header">
    <h1>New Request For A Price Quote</h1>
  </div>
  <div class="message">
    <div>
      <h2>Prospect's info</h2>
      <div>
        <p><strong>Name:</strong> {{name}}</p>
        <p><strong>Email:</strong> {{email}}</p>
        <p><strong>Phone:</strong> {{phone}}<span>({{countryPhone}})</span></p>
        <p><strong>Country:</strong> {{country}}</p>
        <p><strong>Company:</strong> {{company}}</p>
      </div>
    </div>
    <div>
      <h2>Product's info</h2>
      <div>
        <ul>
          {{#each products}}
          <li>
            <h3>{{this.name}}</h3>
            <p>{{this.idNumber}}</p>
            <img src="{{this.photo}}" alt="Photo" style="max-width: 100px; height: auto;">
            </li>
          {{/each}}
        </ul>
      </div>
    </div>

  </div>
  <div class="footer">
    <p>© 2024 Your Company. All Rights Reserved.</p>
  </div>
</body>

</html>